@font-face {
    font-family: "yinXin" !important;
    font-weight: normal;
    font-style: normal;
    src: url('MFLiHei.ttf') format('truetype');
}

@font-face {
    font-family: "pingfang-blod";
    font-weight: normal;
    font-style: normal;
    src: url('../../../assets/css/fonts/PingFang_Bold.ttf') format('truetype');
}

@font-face {
    font-family: "pingfang-regular";
    font-weight: normal;
    font-style: normal;
    src: url('../../../assets/css/fonts/pingfang_Regular.ttf') format('truetype');
}