*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	/* tap-highlight-color:transparent; */
	-webkit-tap-highlight-color:transparent;
}

body{
	font-family: 'yinXin';
	padding: 0 0;
	margin: 0 0;
}

a{
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	color: black;
}

ul,ol{
	list-style:none;
}

.clearFix::before,
.clearFix::after{
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	line-height: 0;
	clear: both;
}

.notactive{
    border-right: 4px solid #ffb3d1;
 }
 
 .active{
    border-right: 4px solid #fff999;
 }

 .router-link-active{
	color: #1748c5 !important;
	background-color: #26a2ff !important;
	border-bottom: 2px solid #3492f1 !important;
}

 .my-gallery{
    width:100%;
}
.my-gallery  figure {
    width: 100%;
}

.my-gallery  figure img{
    width:100%;
    max-height:400px;
 }
 .vjs-custom-skin > .video-js .vjs-big-play-button {
	 width: 2em;
	 height: 1em;
	 left: 56% !important;
 }

.mintui-back::before{
	font-family: 'iconfont';
	content: '\e617';
	font-size: 16px;
}

.mint-header{
	height: 78px;
}

.my-gallery figure img {
	width: 100%;
	max-height: 365px;
}