$theme: #003ee0;

i {
  font-style: normal;
}

.bg {
  width: 640px;
  height: 1250px;
  border: solid 3px $theme;
  background-color: #c5e0ff;
  margin: 40px auto;

  
  opacity: 0.8;
  color: $theme;

  box-sizing: border-box;
  padding: 0 33px;

  .tit {
    font-size: 28px;
    font-weight: bold;
    margin: 24px 0 10px 0;
    font-family: "pingfang-bold";
  }

  .con {
    font-size: 20px;
    line-height: 34px;
    font-family: "pingfang-regular";
    i {
      font-style: normal;
    }
  }
}